                        SECTION A

In [1]:

#1
def sum_three(a,b,c):
 if a==b or b==c or c==a:
   sum=4
 else:
   sum=4
 return sum
print(sum_three(4,6,7))
print(sum_three(3,2,0))

3
3

In [2]:
#2
def DtoLoT(dict):
    dict = {'SHREYASH':716, 'MENON':657, 'VIVEK':254, 'ANUJ':645}
    list = [(k, v) for k, v in dict.items()]

    list.sort(key = lambda x: x[0])
    return list

print(DtoLoT(dict))

[('ANUJ', 645), ('MENON', 657), ('SHREYASH', 716), ('VIVEK', 254)]

In [4]:
#3
def replaceVowels(str, K):
    vowels = 'aeiou'
    for i in vowels:
        str = str.replace(i, K)
    return str

input_str = "I am invincible - THANOS"
K = "i"

print("Input string =", input_str)
print("Specified vowel =", K)
print("After replacing =", replaceVowels(input_str, K))

Input string = I am invincible - THANOS
Specified vowel = i
After replacing = I im invincibli - THANOS

In [ ]:
#4

rocky = "Voilence likes me, I can't avoid..."
z = list(rocky)
print(z)
go = []
for i in z:
    go.extend(ord(num) for num in i)
print(go)


odd = []
even = []
for i in go:
    if(i % 2 ==0):
        even.append(i)
    else:
        odd.append(i)

['V', 'o', 'i', 'l', 'e', 'n', 'c', 'e', ' ', 'l', 'i', 'k', 'e', 's', ' ', 'm', 'e', ',', ' ', 'I', ' ', 'c', 'a', 'n', "'", 't', ' ', 'a', 'v', 'o', 'i', 'd', '.', '.', '.']
[86, 111, 105, 108, 101, 110, 99, 101, 32, 108, 105, 107, 101, 115, 32, 109, 101, 44, 32, 73, 32, 99, 97, 110, 39, 116, 32, 97, 118, 111, 105, 100, 46, 46, 46]

In [6]:
#5
def doctor(st):
  res = []
  for index, c in enumerate(st):
    if index % 2 == 0:
      res.append(c.upper())
    else:
      res.append(c.lower())
  return '' .join(res)
print(doctor("An apple a day keeps doctor away."))

An aPpLe a dAy kEePs dOcToR AwAy.

                   SECTION B

In [9]:

#1
def factorial(n):
     
    
    return 1 if (n==1 or n==0) else n * factorial(n - 1);
 

num = 7;
print("Factorial of",num,"is",
factorial(num))

Factorial of 7 is 5040

In [10]:
#2
def myfunction():
    print("Move In Style")
myfunction()

Move In Style

In [11]:
#3

def largest_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(largest_num_in_list([45, 46, 67, 86]))

86

In [12]:
#4

def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(67))

True

In [13]:
#5
def is_even_num(l):
    evennum = []
    for n in l:
        if n % 2 == 0:
            evennum.append(n)
    return evennum
print(is_even_num([14, 23, 39, 80, 97]))

[14, 80]